@import "base/variables";

nav{
    grid-area: nav;
    align-self: center;
    margin-right: 2vw;
    animation-name: colorTexto;
    animation-duration: 3s;
    ul{
        display: flex;
        list-style: none;
        li{
            transition: ease-out 0.2s;
            &:hover{
                transform: scale(1.03);
                .subMenu{
                    display: block;
                }
            }
            a{
                padding: 1.5vh;
                font-size: 2.2vh;
                text-decoration: none;
                color: $color-texto-principal;
                transition: ease-out 0.5s;
                &:hover{
                    opacity: 0.5;
                }
            }
            ul{
                display: none;
                list-style: none;
                position: absolute;
                li{
                    margin-top: 2vh;
                    justify-self: left;
                }
            }
        }
    }

}